[Unit]
Description=Piper SocketCAN can0 at 1Mbps
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/piper-can0-up
ExecStop=/sbin/ip link set can0 down
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
